<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>551330353817-h0h5easea7epp13agp65mshaenerj1o2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551330353817-h0h5easea7epp13agp65mshaenerj1o2</string>
	<key>API_KEY</key>
	<string>AIzaSyAgIwRU6yG1Yqia-qovBW8Vl9LSRBhTdOo</string>
	<key>GCM_SENDER_ID</key>
	<string>551330353817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>transparent.texting</string>
	<key>PROJECT_ID</key>
	<string>transparenttexting</string>
	<key>STORAGE_BUCKET</key>
	<string>transparenttexting.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:551330353817:ios:141502c552af871c</string>
	<key>DATABASE_URL</key>
	<string>https://transparenttexting.firebaseio.com</string>
</dict>
</plist>